<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\comag\Documents\Projects\PosterGenerator\src\main\resources\thymeleaf\template\style.css"/>
    <style th:replace="~{style :: style}"></style>
    <title>poster</title>
</head>
<body>

    <div th:each="product : ${products}" th:class="'holder ' + ${product.size}">
        <img class="cover_img"
        th:src="${product.imgLocation} + '/' + ${product.imgName}"/>
        <p class="product_title" th:text="#numbers.formatDecimal ${product.title}"></p>
        <p class="price_Label"  th:text="'RM ' + ${product.price}"></p>
    </div>
</body>
</html>